header {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: left;
}

h2 {
    margin-left: 50px;
}

body {
    text-align: center;
}

.task-form {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 525px;
    margin-right: 525px;
    gap: 1rem;
}

h1 {
    margin-top: 50px;
    margin-right: 500px;
}

.form-control {
    width: 350px;
    padding: 5px;
    border-radius: 5px;
}

.Add {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(32, 132, 254);
}

/* .task-list-container {
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    min-width: 500px;
    margin-left: 525px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} */

#taskList {
    list-style-type: none;
    min-height: 100px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.task-list-section {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 350px;
    margin-right: 450px;
}

.empty-list {
    text-align: center;
    padding: 3rem;
    color: #7f8c8d;
    font-style: italic;
}

.empty-list i {
    font-size: 3rem;
    margin-bottom: 1rem;
    display: block;
    
}

.task-item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 5px;
    margin-right: 15px;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.task-checkbox {
    width: 20px;
    height: 20px;
}

.btn-danger {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
